@layer components {
  .tabs {
    display: flex;
    padding: 0.25rem 0;
    transition: background-color 0.3s ease;
  }

  .tabs span {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: inherit;
  }

  .tabs .active {
    color: #4fc1ff;
    border-bottom: 2px solid #4fc1ff;
  }
}
